<!DOCTYPE html>
<html id="layoutHtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HáLugar - PROCURAR</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/vue-session.js"></script>
    <script src="assets/js/axios.min.js"></script>
</head>

<body>

    <div id="app" class="app">

    	<!-- NAVBAR - DESLOGADO | INÍCIO -->
        <div v-if="flagLogin">
            <nav class="navbar navbar-light navbar-expand-xl fixed-top navigation-clean">
                <div class="container-fluid"><a class="navbar-brand text-monospace" href="index.html"><img class="img-fluid float-left" src="assets/img/brand_ha-lugar.png" alt="HáLugar Logo"></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="index.html">INÍCIO<i class="fa fa-home float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link active" href="procurar.html">PROCURAR<i class="fa fa-search float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="sobre.html">SOBRE<i class="fa fa-info-circle float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="contato.html">CONTATO<i class="fa fa-envelope float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="login.html">ENTRAR<i class="fa fa-lock float-left"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- NAVBAR - DESLOGADO | FIM -->

        <!-- NAVBAR - LOGADO | INÍCIO (v-else com problema) -->
	    <div v-else>
            <nav class="navbar navbar-light navbar-expand-xl fixed-top navigation-clean">
                <div class="container-fluid"><a class="navbar-brand text-monospace" href="index.html"><img class="img-fluid float-left" src="assets/img/brand_ha-lugar.png" alt="HáLugar Logo"></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="index.html">INÍCIO<i class="fa fa-home float-left"></i></a></li>                                
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link active" href="procurar.html">PROCURAR<i class="fa fa-search float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="anunciar.html">ANUNCIAR<i class="fa fa-bullhorn float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="sobre.html">SOBRE<i class="fa fa-info-circle float-left"></i></a></li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="contato.html">CONTATO<i class="fa fa-envelope float-left"></i></a></li>
                            <li class="dropdown" id="minhaConta">
                                <a class="dropdown-toggle nav-link dropdown-toggle float-none" data-toggle="dropdown" aria-expanded="false" href="#">MINHA CONTA<i class="fa fa-user float-left"></i></a>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" :href="'meus_dados.html?id='+usuario.id">Meus dados</a>
                                    <a class="dropdown-item" role="presentation" :href="'meu_anuncio.html?id='+anuncio.id">Meu anúncio</a>
                                </div>
                            </li>
                            <li class="nav-item d-block align-self-center" role="presentation"><a class="nav-link" href="index.html" @click="sair">SAIR<i class="fa fa-times-circle float-left"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
	    </div>
        <!-- NAVBAR - LOGADO | FIM -->

        <!-- CAMPO DE PESQUISA | INÍCIO -->
	    <div id="pesquisaDiv">
	        <div class="container" id="pesquisaContainer" data-aos="fade-right">
	            <h2 class="text-center"><strong>O que você procura?</strong></h2>

	            <div class="row no-gutters align-items-center">
	                <div class="col-xl-2">
	                    <p class="text-center" id="buscarPor">Buscar por:</p>
	                </div>
	                <div class="col-md-6 col-xl-7" id="textoPesquisaCol">
                        <input id="inputTextoPesquisa" class="form-control" type="text" name="texto" v-model="textoPesquisa" placeholder="Rua, bairro, ponto de referência, preço etc." required>
                    </div>
	                <div class="col-md-6 col-xl-3">
	                    <p class="text-center" id="botaoPesquisaP">
                            <button id="botaoPesquisa" class="btn btn-primary btn-block btn-sm" type="button" @click="checkForm">Pesquisar</button>
                        </p>
	                </div>
	            </div>

                <div v-if="campoIncorreto">
                    <br><div id="mensagemErro" class="alert alert-warning" align="center"><strong>ATENÇÃO!</strong> Digite o termo a ser pesquisado.</div>
               </div>

	       </div>
	    </div>
	    <!-- CAMPO DE PESQUISA | FIM -->

	    <!-- RESULTADO DA PESQUISA | INÍCIO -->
	    <div id="campoResultado" v-if="exibirResultado">
	        <div id="containerResultado" class="container" data-aos="fade-right">
	            <h5 id="resultadoTitulo">RESULTADO DA PESQUISA</h5>

                <div v-if="casas.length==0">
                    <br><div id="nenhumAnuncio" class="alert alert-warning" align="center"><strong>AVISO! </strong>Não existem anúncios cadastrados.</div>
                </div>

                <!-- Área para renderizar os resultados da pesquisa. -->
	            
	    	</div>
	    </div>
	    <!-- RESULTADO DA PESQUISA | FIM -->

    </div>

    <!-- FOOTER | INÍCIO -->
    <footer>
        <div class="row justify-content-center align-items-center align-content-center">
            <div id="colFooter" class="col">
                <p id="conteudoFooter" class="text-center">HáLugar - 2019</p>
            </div>
        </div>
    </footer>
    <!-- FOOTER | FIM -->

    <!-- VUE | INÍCIO -->
    <script>
    	var app = new Vue({
    		el: "#app",
    		data:{
    			urlCasa: "http://10.5.30.140:8080/halugar/api/casas",
    			urlUsuario: "http://10.5.30.140:8080/halugar/api/users",
    			textoPesquisa: "",
    			usuario: {},
    			anuncio: {},
                id: "",
    			casas: [],
                flagLogin: true, // true: usuário precisa logar || false: usuário já logado
                campoIncorreto: false,
                exibirResultado: false
    		},
            created() {
                    if (this.$session.exists()) {
                        this.flagLogin = false;
                    }

                    vm = this;
                    axios.get(this.urlCasa).then(function (r) {
                        if(r.data.casa.length > 1) {
                            vm.casas = r.data.casa;    
                        } else {
                            vm.casas = r.data;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });

                    axios.get(this.urlUsuario + "/" + this.id).then(function (r) {
                        vm.usuario = r.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
            },
    		methods:{
    			getCasas(){
    				// Implementar método
    			},
                checkForm: function (e) {
                    if(!this.textoPesquisa) {
                        this.campoIncorreto=true;
                    }
                    else{
                        this.campoIncorreto=false;
                        this.exibirResultado=true;
                        this.getCasas();
                    }
                    
                    // e.preventDefault(); // Apresentando erro!
                },
                sair() {
                    this.$session.destroy()
                    this.flagLogin = true;                      
                }
    		}
    	});
    </script>
    <!-- VUE | FIM -->

</body>

</html>
